<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.spot.SpotMapper">		


								<!-- select 결과를 받을 객체 -->
    <resultMap id="resultMapObj" type="com.mycompany.app.spot.Spot"></resultMap>
    
    <sql id ="selectCommon">
   		FROM    
	    	spot a
	    	LEFT JOIN spotCloseDay c on c.spot_seq = a.seq
	    	LEFT JOIN spotUploaded e on e.pseq = a.seq AND e.type = 1
		WHERE 1=1 
		<if test="name != null and !name.equals('')">AND name LIKE CONCAT('%',#{name},'%')</if>
    </sql>
	
	 
	
	
        <sql id="selectSpot">
	    	a.seq,
	    	a.type spotType,
	    	a.name,
	    	a.zipCode,
	    	a.address,
	    	a.addressDetail,
	    	a.sido,
	    	a.tel,
	    	a.openTime,
	    	a.closedTime,
			a.adultPrice,
			a.childPrice,
			a.detailText,
			a.delNy,
			c.date closed,
			e.pseq,
			e.type,
			e.path,
			e.uuidName
		</sql>
	 
	<select id="selectListUploaded" resultMap="resultMapObj">
	SELECT
			*
		FROM
			spotUploaded
		WHERE 1=1
		<if test="seq != null and !seq.equals('')">AND pseq =#{seq}</if>
	</select>
	
	
<select id="selectOne" resultMap="resultMapObj">
	SELECT
		seq
		,type
		,name
		,zipCode
		,address
		,addressDetail
		,sido
		,tel
		,closedTime
		,openTime
		,adultPrice
		,childPrice
		,detailText
	FROM
		spot
	WHERE 1=1
		AND seq = #{seq}
			<if test="type != null and !type.equals('')">AND type = #{type}</if>
			<if test="name != null and name.equals('')">	AND name = #{name} </if>
			<if test="zipCode != null and !zipCode.equals('')">AND zipCode = #{zipCode}</if>
			<if test="address != null and !address.equals('')">AND address = #{address}</if>
			<if test="addressDetail != null and !addressDetail.equals('')">AND addressDetail = #{addressDetail}</if>
			<if test="sido != null and !sido.equals('')">AND sido = #{sido}</if>
			<if test="tel != null and !tel.equals('')">AND tel = #{tel}</if>
			<if test="closedTime != null and !closedTime.equals('')">AND closedTime = #{closedTime}</if>
			<if test="openTime != null and !openTime.equals('')">AND openTime = #{openTime}</if>
			<if test="adultPrice != null and !adultPrice.equals('')">AND adultPrice = #{adultPrice}</if>
			<if test="childPrice != null and !childPrice.equals('')">AND childPrice = #{childPrice}</if>
			<if test="detailText != null and !detailText.equals('')">AND detailText = #{detailText}</if>
</select>
	
   	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>
	
    
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="selectSpot" />
	   			<include refid="selectCommon" />
		) aa
<!-- 		WHERE 1=1 -->
<!-- 		<if test="hotelType != null and !hotelType.equals('')">AND a.hotelType = #{hotelType}</if> -->
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
  
  
  
    
    <insert id="insertSpot">
	    insert into `spot` (
	    	type,
	    	name,
	    	zipCode,
	    	address,
	    	addressDetail,
	    	sido,
	    	tel,
	    	openTime,
	    	closedTime,
			adultPrice,
			childPrice,
			detailText
		) values (
			#{type}
			,#{name}
			,#{zipCode}
			,#{address}
			,#{addressDetail}
			,#{sido}
			,#{tel}
			,#{openTime}
			,#{closedTime}
			,#{adultPrice}
			,#{childPrice}
			,#{detailText}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		 </selectKey>
    </insert>

  
    <insert id="insertUploaded">
    insert into ${tableName}(
	type
	,defaultNy
	,sort
	,path
	,originalName
	,uuidName
	,ext
	,size
	,delNy
	,pseq
    )values(
    #{type}
	,0
	,#{sort}
	,#{path}
	,#{originalName}
	,#{uuidName}
	,#{ext}
	,#{size}
	,#{delNy}
	,#{pseq}
    )
    </insert>
	
    <insert id="insertSpotCloseDay">
   	    insert into `spotCloseDay` (
   	    	spot_seq 
			,date
		) values (
			#{seq}
			,#{closed}
		)
	</insert>
    
    <update id="update">
        UPDATE 
        	spot
        SET 
        	type = #{type},
        	name = #{name},
	    	zipCode= #{zipCode},
	    	address= #{address},
	    	addressDetail= #{addressDetail},
	    	sido= #{sido},
	    	tel= #{tel},
	    	openTime= #{openTime},
	    	closedTime= #{closedTime},
			adultPrice= #{adultPrice},
			childPrice= #{childPrice},
			detailText= #{detailText}

        WHERE 
        	seq = #{seq}
	</update>
    
<delete id="delete">
DELETE FROM 
	spot
WHERE
	seq = #{seq}
</delete>

<delete id="deleteSpotCloseDay">
DELETE FROM 
	spotCloseDay
WHERE
    spot_seq = #{seq}
</delete>
    
    <update id="updateDel">
   		UPDATE 
    		spot
		SET 
			delNy = 1
		WHERE 
			seq = #{seq}
    </update>
    
    
 
    
    
</mapper>