<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mycompany.app.feedback.FeedbackMapper">

    <resultMap type="com.mycompany.app.feedback.Feedback" id="resultMapObj"></resultMap>
    
    
    <sql id="selectCommon" > 
	    FROM    
	        feedback a
	        LEFT JOIN trainUsr b ON b.seq = a.type_seq 
	        LEFT JOIN hotelUsr c ON c.seq = a.type_seq  
	        LEFT JOIN ticketUsr d ON d.seq = a.type_seq 
	    WHERE 1=1
	    	<if test="type != null and !type.equals('')">AND a.type = #{type}</if>
	</sql> 
    
    <sql id="selectFeedback">
        a.seq,
        a.type,
        a.review,
        a.reviewTitle,
        a.starRating,
        a.member_seq,
        a.defaultNy,
        a.date,
        a.dateRe,
        a.type_seq,
        b.start trainUsr_start, 
        b.startDateTime trainUsr_startDateTime,
        b.end trainUsr_end,
        b.endDateTime trainUsr_endDateTime,
        b.type trainUsrType,
        b.sort trainUsr_sort,
        b.adultNum trainUsr_adultNum,
        b.childNum trainUsr_childNum,
        b.price trainUsr_price,
        c.start hotelUsr_start,
        c.end hotelUsr_end,
        c.type hotelUsr_type,
        c.price hotelUsr_price,
        c.hotel_seq hotelUsr_hotel_seq,
        c.hotelRoomSeq,
        d.title tickeUsr_title,
        d.type ticketUsrType,
        d.adultNum tickeUsr_adultNum,
        d.childNum tickeUsr_childNum,
        d.price tickeUsr_price,
        d.ticketSeq tickeUsr_seq
    </sql>
    
    
    <select id="selectList" resultMap="resultMapObj">
	    SELECT aa. * FROM (    
	        SELECT
	            <include refid="selectFeedback" />
	            <include refid="selectCommon" />
	    ) aa
 	    WHERE 1=1
	    LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
    
    
    <select id="selectOneCount" resultType="Integer">
        SELECT count(*)
	        <include refid="selectCommon" />
    </select>
    
<!--     <select id="selectOne" resultMap="resultMapObj"> -->
<!--         SELECT -->
<!--         <include refid="selectFeedback" /> -->
<!--         <include refid="selectCommon" /> -->
<!--         AND a.seq = #{seq} -->
<!--     </select> -->
    
<select id="selectOne" resultMap="resultMapObj">
	SELECT
		seq
		,type
		,review
		,reviewTitle
		,starRating
		,member_seq
		,defaultNy
		,type_seq

	FROM
		feedback
	WHERE 1=1
		AND seq = #{seq}
			<if test="type != null and !type.equals('')">AND type = #{type}</if>
			<if test="review != null and review.equals('')">	AND review = #{review} </if>
			<if test="reviewTitle != null and !reviewTitle.equals('')">AND reviewTitle = #{reviewTitle}</if>
</select>
	<select id="select"></select>
    

    <select id="selectTrainUsr" resultMap="resultMapObj">
        select * from trainUsr
    </select>

    <select id="selectHotelUsr" resultMap="resultMapObj">
        select * from hotelUsr
    </select>
    
    <select id="selectTicketUsr" resultMap="resultMapObj">
        select * from ticketUsr
    </select>
    
    <insert id="insertFeedback">
        insert into 
        	feedback (

		         type
		        , review
		        , reviewTitle
		        , starRating
		        , member_seq
		        , defaultNy
		        , type_seq
		        , date
		        , dateRe
		        
		        ) values (
		        

		         #{type}
		        , #{review}
		        , #{reviewTitle}
		        , #{starRating}
		        , #{member_seq}
		        , 0
		        , #{type_seq}
		        , now()
		        , now()
        )
        <selectKey resultType="String" keyProperty="seq" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE feedback
        SET
	        type = #{type},
	        review = #{review},
	        reviewTitle = #{reviewTitle},
	        starRating = #{starRating},
	        member_seq = #{member_seq},
	        defaultNy = #{defaultNy},
	        type_seq = #{type_seq}
        WHERE
      	 	seq= #{seq}
    </update>

</mapper>
