<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<!--     전체 매퍼중에서 유일한 값을 사용하여야 한다.
     해서 관계적으로 해당 파일의 패스와 파일이름 (확장자 제외)
     그리고 dao에서 namespace와 일치하여야 한다. -->
    
<mapper namespace="com.mycompany.app.infra.member.MemberMapper">		

								<!-- select 결과를 받을 객체 -->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.member.Member"></resultMap>
    
    <sql id="abc">

		seq
		,name
		,id
		,password
		,emailFull
		,emailDomain
		,emailAccount
		,dob
		,phone
		,zipCode
		,address
		,addressDetail
		,delNy
		,type as memberType
		,sido

    </sql>
    
    
    <sql id ="selectCommon">
   		FROM    
	    	member

		WHERE 1=1
			<if test="name != null and !name.equals('')">AND id LIKE CONCAT('%',#{name},'%')</if>
    </sql>
    <select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>
	
   	<select id="selectList" resultMap="resultMapObj">
		SELECT bb.* FROM (   	
	   		SELECT
				<include refid="abc" />
	   			<include refid="selectCommon" />
		) bb
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>

    <!-- <select id="selectList" resultMap="resultMapObj">
        SELECT
        	<include refid="abc" />
        FROM
        	member
        WHERE 1=1
        <if test="shKeyword != null and !shKeyword.equals('')">AND NAME LIKE CONCAT('%',#{shKeyword},'%')</if>
    </select> -->


    <select id="selectOne" resultMap="resultMapObj">
        SELECT 
			<include refid="abc" />
        FROM
        	member
        WHERE 1=1
        	 AND seq = #{seq}  
        	 <if test="id != null and !id.equals('')">AND id = #{id} </if>
        	 <if test="password != null and !password.equals('')">AND password = #{password}</if>

    </select>
    
    
    <select id="selectXdm" resultMap="resultMapObj">
        SELECT
        	seq
        	, id
        	, name
        	, type
        FROM
        	member
        	
        WHERE 1=1 
       		 <if test="seq != null and !seq.equals('')">AND seq = #{seq} </if>        
        	 <if test="id != null and !id.equals('')">AND id = #{id} </if>
        	 <if test="password != null and !password.equals('')">AND password = #{password}</if>
        	 <if test="type != null and !type.equals('')">AND type = 0 </if>

    </select>
    
        <select id="selectUsr" resultMap="resultMapObj">
        SELECT
        	seq
        	, id
        	, name
        	, type
        FROM
        	member
        WHERE 1=1
        	 <if test="seq != null and !seq.equals('')">AND seq = #{seq} </if>
        	 <if test="id != null and !id.equals('')">AND id = #{id} </if>
        	 <if test="password != null and !password.equals('')">AND password = #{password}</if>
        	 <if test="type != null and !type.equals('')">AND type = 1 </if>
    </select>
    
    
     <select id="selectOneCheckId" resultType="Integer">
        SELECT
			COUNT(seq)
        FROM
        	member
        WHERE 1=1
        	AND id = #{id}
    </select>
    
    
    

<!-- =============================================================== -->
<!-- 수정 -->
    <update id="update">
        UPDATE
        	member
        SET
        	  id = #{id}
   			, name = #{name}
	    	, password = #{password}        	  
	    	, emailFull = #{emailFull}
	    	, emailDomain = #{emailDomain}
	    	, emailAccount = #{emailAccount}
	    	, dob = #{dob}	    	
	    	, phone = #{phone}
	    	, zipCode = #{zipCode}	    	
	    	, address =	#{address}
	    	, addressDetail =	#{addressDetail}	    	
	    	, delNy = #{delNy}
	    	, type = #{memberType}
        WHERE
        	seq = #{seq}
    </update>

<!-- 삭제 -->
    <delete id="delete">
        DELETE
        FROM
        	member
        WHERE 
        	seq = #{seq}
    </delete>

<!-- 추가 -->
    <insert id="insert">
        INSERT INTO member (
			name
			,id
			,password
			,emailFull
			,emailDomain
			,emailAccount
			,dob
			,phone
			,zipCode
			,address
			,addressDetail
			,sido
			,delNy
			,type
	    	
        ) VALUES (
        	  #{name}
   			, #{id}
	    	, #{password}        	  
	    	, #{emailFull}
	    	, #{emailDomain}
	    	, #{emailAccount}
	    	, #{dob}	    	
	    	, #{phone}
	    	, #{zipCode}	    	
	    	, #{address}
	    	, #{addressDetail}	
	    	, #{sido}    	       	    	        	        	        	
        	, 0
        	, #{memberType}

        )
       		<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
		 	</selectKey>
    </insert>
    
    <!-- 0727 파일업로드 -->
    	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
			
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{seq}
		)
	</insert>
    
    
    
    

<!-- 삭제(delete + update) -->
    <update id="uelete">
	    UPDATE
	    	member	
	    SET
	    	delNy = "1"
	    WHERE 1=1
	    AND 
	    	seq = #{seq}
    </update>

</mapper>    
    
    
    
    
    
    
    
    
    
    
    
    
    
    