<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mycompany.app.infra.code.CodeMapper">

	<resultMap type="com.mycompany.app.infra.code.Code" id="resultMapObj"></resultMap>
    <sql id="abc">
		seq,
   		name,
   		delNy,
   		codeNum,
   		codeGroup_seq
    </sql>
    <sql id ="selectCommon">
   		FROM
			code
		WHERE 1=1
			<if test="codeGroup_seq != null and !codeGroup_seq.equals('')">AND codeGroup_seq = #{codeGroup_seq}</if>
			<if test="name != null and !name.equals('')">AND name like CONCAT ('%',#{name},'%')</if>
			<if test="delNy != null and !delNy.equals('')">AND delNy = #{delNy}</if>
    </sql>

   	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>

   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				seq,
				name,
				codeNum,
				codeGroup_seq,
				(SELECT
					b.name
				FROM codeGroup b 
				WHERE b.seq=code.codeGroup_seq
				) as groupname,
				delNy
	   			<include refid="selectCommon" />
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		seq,
    		name,
    		codeNum,
    		codeGroup_seq,
			delNy    		
    	FROM
    		code
    	WHERE
			seq = #{seq}
    </select>
    
    <update id="update">
    	UPDATE 
    		code
		SET 
			name = #{name},
			codeNum = #{codeNum},
			delNy= #{delNy},
			codeGroup_seq= #{codeGroup_seq}
		WHERE 
			seq = #{seq}
    	
    </update>
    
    <delete id="delete">
    	DELETE FROM 
    		code
		WHERE
			seq = #{seq}
    
    </delete>
    
    <insert id="insert">
	    insert into `code` (
			name,
			delNy,
			codeGroup_seq,
			codeNum
		) values (
			#{name}
			, 0
			,#{codeGroup_seq}
			,#{codeNum}
		)
    </insert>
    
    <update id="updateDel">
   		UPDATE 
    		code
		SET 
			delNy = 1
		WHERE 
			seq = #{seq}
    </update>
    
    <select id="selectOneJoin" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			(SELECT
				b.name
			FROM codeGroup b 
			WHERE b.seq=code.codeGroup_seq
			) as groupname,
			delNy,
			codeNum
		FROM
			code
		WHERE 1=1
			and seq = #{seq}
	</select>
	
	<select id="selectListJoin" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			(SELECT
				b.name
			FROM codeGroup b 
			WHERE b.seq=code.codeGroup_seq
			) as groupname,
			delNy,
			codeNum
		FROM
			code
		WHERE 1=1
			<if test="codeGroup_seq != null and !codeGroup_seq.equals('')">AND codeGroup_seq = #{codeGroup_seq}</if>
			<if test="name != null and !name.equals('')">AND name like CONCAT ('%',#{name},'%')</if>
			<if test="delNy != null and !delNy.equals('')">AND delNy = #{delNy}</if>
	
	</select>
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			codeNum
		FROM
			code
		WHERE 1=1
			AND	delNy = 0
	</select>
</mapper>